#nav{
    list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:grey;
    
     
   }
   .button {
    background-color: #4CAF50;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
   a{
       float: left;
   }
   #nav a{
       display: block;
     color:white;
     text-align: horizontal;
     padding: 14px 16px;
     text-decoration: none;
      
   }
   #nav a:hover{
       background-color: #111;
   }
   .container
   {
    position: relative; 
    text-align: center;
    color:  slateblue;
    z-index: 1;
   }
   /*.bottom-left{
       position:relative;
       bottom:8px;
       left:16px;
   }
   */
   /*.top-left{
       position:relative;
       bottom:8px;
       left:16px;
   }
   */
   .top-right{
       position:absolute;
       bottom:8px;
       left:16px;
   }
   /*.bottom-right{
       position:relative;
       bottom:8px;
       left:16px;
   }
   */
   .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(+50%, +50%);
    font-family: 'Gill Sans','Gill Sans MT';
    font-size:xx-large; 
    color: rgb(255,255, 255);
    font-style:italic;
   }
   .down{
   position: absolute;
   top:90%;
   bottom:100%;
   left: 50%;
   transform: translate(+50%,+50%);
   font-family: 'Gill Sans';
   font-size: xx-large;
   font-style:italic;
   color: white;
   border-collapse: no collapse;
   border-bottom: dashed;
   text-align: center;
   }
   /*
   #h1.id{
       text-align: center;
       font-style: normal;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       
   }
   */
   /*
   .art{
       text-align: extreme-left;
       border: 5px solid black;
       padding: 350px;
   }
   
   #h1id2{
       color:rosybrown;
       border-style: solid;
       
       padding: 10px;
       margin: 2px;
   
   }
   */
   .text {
     
    font-size: 20px;
    padding: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
   #p1{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       color:red;
       font-size:xx-large;
   }
   #p2{
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-weight: bold;
       font-size: xx-large;
   }
   .form-style{
       font: 95% Arial,Helvetica,sans-serif;
       max-width: 400px;
       margin: 10px auto;
       padding: 16px;
       background:#f7f7f7;
   
   }
   .form-style h1{
       background: yellowgreen;
       padding: 20px 0;
       font-size: 140%;
       font-weight: 300;
       text-align: center;
       color:#fff;
       margin:-16px -16px 16px -16px;
   }
   .form-style input[type="text"],
   .form-style input[type="number"],
   .form-style textarea,
   .form-style select
   {
   outline: none;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width:100%;
   background:#fff;
   margin-bottom:4%;
   border:1px solid #ccc;
   padding:3%;
   color:#555;
   font:95% Arial, Helvetica , sans-serif;
   }
   .form-style input[type="text"]:focus,
   .form-style input[type="number"]:focus,
   .form-style textarea:focus,
   .form-style select :focus{
       box-shadow: 0 0 5px #43D1A7;
       padding: 3%;
       border: 1px solid #43D1A7;
   }
   .form-style input[type="submit"],
   .form-style input[type="button"]{
       width: 100%;
       padding: 3%;
       background: rgb(241,86, 39);
       border-top-style: none;
       border-right-style: none;
       border-left-style: none;
       color:#fff;
   }
   .form-style input[type="submit"]:hover,
   .form-style input[type="button"]:hover,
   background: red;
   }